form(method='POST' action='/new')
    div
    label Name
    input(name="messageUser" type="text")
    div
    label Message Text
    input(name="messageText" type="text")
    button(type="submit") Submit!